@import "../../style/global.scss";

.nav-link {
  color: $colorWhite !important;
  margin-left: toRem(25);
  margin-top: 8px;
}
.active {
  color: $colorYellow !important;
}
.navbar-collapse {
  justify-content: space-evenly;
}

.navMenu {
  border: none !important;
}
.navMenu > span {
  display: block;
  width: toRem(30);
  height: 4px;
  border-radius: toRem(9999);
  background-color: $colorYellow
}
.navMenu > span:not(:last-child) {
  margin-bottom: 7px;
}
.navMenu,
.navMenu > span {
  transition: all 0.4s ease-in-out;
}
.navMenu.active {
  transition-delay: 0.8s;
  transform: rotate(45deg);
}
.navMenu.active > span:nth-child(2) {
  width: 0;
}
.navMenu.active > span:nth-child(1),
.navMenu.active > span:nth-child(3) {
  transition-delay: 0.4s;
}
.navMenu.active > span:nth-child(1) {
  transform: translateY(9px);
}
.navMenu.active > span:nth-child(3) {
  transform: translateY(-13px) rotate(90deg);
}
.btn-yellow {
  @include btns(
    auto,
    auto,
    2px solid $colorYellow,
    toRem(50),
    $colorYellow,
    $colorDarkBlue !important
  );
  padding: 12px 26px !important;
  &:hover {
    background-color: transparent;
    transition: 0.5s;
    color: #fff;
  }
  margin-left: auto;
}

.btn-yellow p {
  margin-bottom: 0;
  @include text(
    toRem(69),
    toRem(30),
    700,
    toRem(18),
    toRem(30),
    $colorDarkBlue
  );
  &:hover {
    color: $colorYellow !important;
    transition: 2s;
  }
}
.navbarHeader {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 500px) {
  .navbar_first_child {
    margin-left: toRem(10) !important;
  }
  .nav-link {
    margin-left: toRem(10);
    margin-top: 8px;
  }
  .btn-yellow {
    display: none;
  }
}
