@import "../../index.scss";
.gameBuy_price {
  margin-right: 5px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.moveIntoCart {
    font-weight: 500;
    color: white;
}