@import "../../index.scss";
.gameCover {
  height: rem(170);
  width: 100%;
  background-size: cover;
  background-position: center;
  border-top-left-radius: rem(15) !important;
  border-top-right-radius: rem(15) !important;
}


