@import "../../style/global.scss";
.portfolio {
  margin-top: toRem(50);
}
.card {
  background-color: transparent !important;
  height: auto;
  border-radius: 20px 20px 0 0 !important;
}
.sam {
  object-fit: contain;
  border-radius: 20px;
  margin-top: 20px;
}
.card-body {
  padding: unset !important;
  position: relative;
}
.card-body img {
  border-radius: 20px 20px 0 0 !important  ;
}
.portfolio img {
  object-fit: cover;
}
.imgs_corners {
  height: toRem(700) !important;
  object-position: top;
}
.card-footer {
  border: 1px solid gray;
}
.card-footer span {
   background-color: rgba(255, 255, 255, 0.08);
    color: $colorYellow !important;
  border: 1px solid black;
  padding: 5px toRem(20);
  border-radius: 50px;
}
