@import "../../styles/global.scss";
@mixin center {
  align-items: center;
  display: flex;
  text-align: center;
  justify-content: center;
}
a {
  color: #c0c4cf !important;
  text-decoration: none !important;
}
.active {
  color: #000 !important;
}
.position {
  position: relative;
  top: -85px;
}
.crypto {
  position: absolute;
  left: 8rem;
  top: 2rem;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: toRem(24);
  line-height: toRem(32);
  letter-spacing: -0.02em;
  color: #23262f;
}

.nav-NavLink {
  margin-left: 2rem;
  width: 59px;
  height: 16px;
  left: 192px;
  top: 12px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #23262f;
}
.forms {
  position: relative;
  margin-right: toRem(70);
}

.form-control {
  width: toRem(256) !important;
  height: toRem(40) !important;
  border-radius: 0.5rem !important;
  border: 2px solid #e6e8ec !important;
}
.search-logo {
  width: 1rem;
  height: 1rem;
  margin-top: toRem(11);
  margin-left: -1.9rem;
}
.notification {
  margin-left: toRem(35);
  &.active {
    background-color: #dddfe6;
    width: 41px;
    height: 40px;
    border-radius: 50%;
  }
}
.upload {
  color: #fcfcfd;
  font-style: normal;
  width: 80px;
  height: 40px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  background-color: $colorBlue;
  border: none;
  padding: 12px 1rem;
  border-radius: 2rem;
  margin-left: toRem(24);
}
.connect {
  background-color: #fff;
  width: toRem(135) !important;
  height: 40px;
  border: 2px solid $colorGrey;
  border-radius: 2rem;
  align-items: center;
  margin-left: toRem(28);
}
.connect-text {
  width: 105px;
  height: 16px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #23262f;
}

@media screen and (max-width: 600px) {
  .nav-NavLink {
    margin-left: unset;
    margin-bottom: 1rem;
  }
  .nav-item {
    margin-bottom: 0.5rem;
  }
  .logo {
    margin-left: -50px;
  }
  .crypto {
    left: 3.1rem;
  }
  .navbar-toggler {
    border-color: #fff !important;
    box-shadow: unset !important;
  }
  .upload {
    display: none !important;
  }
  .connect {
    display: none !important;
  }
  .form-control {
    display: block !important ;
    width: toRem(216) !important;
    height: toRem(40) !important;
  }
  .notification {
    margin-left: 42%;
    &.active {
      background-color: #dddfe6;
      width: 41px;
      height: 40px;
      border-radius: 50%;
    }
  }
}
