@import "../../../styles//global.scss";
.section-salers {
  display: inline-block;
}
.saler1 {
  width: toRem(56);
  height: toRem(56);
  border-radius: toRem(48);
  display: inline;
  object-fit: cover;
  background-color: $colorGreen;
}
.salers-name {
  @include text(toRem(126), toRem(24), 500, toRem(18), toRem(24), #23262f);
  margin-top: toRem(-55);
  margin-left: 4.5rem;
}

.salers-cash {
  display: block;
  margin-left: 4.5rem;
  @include text(toRem(82), toRem(20), 750, 14px, toRem(20), #353945);
  span {
    @include text(toRem(21), toRem(20), 500, 13px, toRem(20), #777e91);
  }
}
.line-salers {
  margin-top: toRem(20) !important;
  margin-bottom: toRem(20) !important;
  margin-bottom: 11px;
  border: 1px solid $colorGrey;
  width: toRem(244) !important;
}
.section-salers:hover {
  transition: transform 0.1s;
  transform: scale(1.1);
}
