@import "../../style/global.scss";
.footer {
  margin-top: toRem(120);
  background-color: #1c1c1c;
  .row {
    padding-top: toRem(80);
    .col-xl-3 {
      .links {
        color: $colorGray;
        font-weight: 500;
        font-size: 17.9888px;
        line-height: 36px;
        cursor: pointer;
        &:hover {
          color: $colorLightGray;
        }
        a {
          text-decoration: none;
          color: $colorGray;

          &:hover {
            color: $colorLightGray;
          }
        }
      }
    }

    .col-xl-2:nth-child(1) {
      .title_footer {
        @include text(
          toRem(273),
          toRem(66),
          700,
          toRem(32),
          100%,
          $colorYellow
        );
      }
      .parag_footer {
        @include text(toRem(221), toRem(67), 600, 1rem, toRem(32), #d4d4d4);
      }
    }
  }
}
.title_footer {
  @include text(toRem(145), 2rem, 700, toRem(22), 2rem, #f5fbf2);
}
.input_txt {
  @include text(toRem(211), toRem(73), 500, 1.1rem, toRem(36), $colorGray);
}
.table_2 {
  margin-left: toRem(150);
}
.footer_input {
  position: relative;
  width: toRem(250);
  height: toRem(63);
  border: unset;
  border-radius: toRem(49);
  background: #212529;
  outline: none;
  padding: 1rem 25px;
  margin-left: -10px;
  &::placeholder {
    @include text(toRem(200), toRem(24), 400, 1rem, toRem(23), $colorGray);
  }
}

.input {
  position: relative;
}
.input_submit {
  background-color: transparent;
  border: unset;
}

.icon_send {
  margin-top: -5px;
  position: relative;
  margin-left: toRem(-25);
  background-color: $colorYellow;
  border-radius: 0 10px 10px 0;
  padding: toRem(20);
  cursor: pointer;
  overflow: hidden;
}
@media screen and(max-width:500px) {
  .footer .row {
    padding: 1rem;
  }
  .title_links {
    margin-top: 1rem;
  }
  .title_footer,
  .parag_footer {
    width: 80%;
    margin: auto;
  }
  .input_txt {
    width: 100%;
    height: toRem(31);
    margin-bottom: 5%;
    font-size: 14px;
  }
  .footer_input {
    width: 80% !important;
  }
}
