@import "../../../styles/global.scss";
.section_carousel {
  width: 100% !important;
  margin-top: toRem(120);
}
.dropdown {
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: toRem(-25);
}
.carousel-head {
  padding-top: toRem(80);
  h4 {
    @include text(toRem(221), toRem(32), 600, toRem(24), toRem(32), #777e91);
  }
}

.dropdown-toggle {
  width: 127px;
  height: 48px !important;
  font-size: 40px !important;
  line-height: 48px !important;
  font-weight: 700 !important;
  letter-spacing: -0.01em;
  color: #23262f;
}
.dropdown2 {
  width: toRem(256);
  height: 48px;
  margin-left: toRem(770);
  font-weight: 400px !important ;
}
.dropdown-menu {
  margin-top: 15px !important;
  border: none !important;
}
.dropdown-item {
  color: #000 !important;
  font-size: 15px;
  font-weight: 600 !important;
}

.btn:focus {
  box-shadow: none !important;
  outline: none !important;
}

.dropdown-toggle::after {
  content: none !important;
}
.dropdown-toggle::after {
  content: url(../../../assets/icons/down.svg) !important;
  border-top: none !important;
  column-rule-style: none;
}
.cols-margin {
  margin-left: 32px;
  margin-bottom: toRem(114);
}
@media screen and (max-width: 500px) {
  .dropdwonstyle {
    display: none;
  }
  .cols-margin {
    margin-left: unset;
    padding-left: 23% !important;
    padding-top: 1rem !important;
  }
}
