@import "/src/style/global.scss";
.aboutMe {
  margin-top: toRem(120);
}
.whoAmI {
  padding: 5px toRem(25);
  width: toRem(132);
  background: rgba(255, 255, 255, 0.08);
  border-radius: 50px;
  color: $colorYellow;
  font-weight: bold;
  margin-top: toRem(100);
  margin-bottom: 1.5rem;
}
.aboutMe_txt {
  @include text(toRem(229), toRem(30), 700, toRem(48), toRem(30), $colorWhite);
  margin-top: 0.8rem;
}
.about_paragrph {
  @include text(toRem(672), toRem(177), 400, 1rem, toRem(30), #d5d5d5);
  margin-top: toRem(30);
  margin-bottom: toRem(50);
}
.download {
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.08);
  color: #000;
  border-radius: 90px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  margin-left: 1.5rem;
  &:hover {
    background: rgb(255, 255, 255, 0.19);
  }
}
.download span {
  font-weight: 900;
  font-size: 1.125rem;
  line-height: 1.875rem;
  color: $colorYellow;

  margin-bottom: unset;
}
.downloadIcon {
  width: 24px;
  height: 24px;
  margin-left: 5px;
}

@media screen and (max-width: 500px) {
  .aboutMe {
    margin-top: toRem(40);
  }
  .imgAboutMe {
    padding-left: 5%;
  }
  .whoAmI {
    margin: 20px auto;
  }
  .aboutMe_txt {
    margin: auto;
    width: toRem(221);
  }
  .about_paragrph {
    padding: 0 12px;
    height: auto;
  }
  .btn-yellow {
    margin-left: unset !important;
  }
  .aboutBtns {
    display: flex;
    justify-content: space-around;
  }
}
