@import "../../index.scss";
.header {
  height: rem(80);
  display: flex;
  margin-bottom: rem(30);
}
.wrapper {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.header_title {
  font-size: rem(24);
  font-weight: bold;
}
.header_card_btn {
  justify-content: flex-end;
}

@media screen and(max-width:500px) {
  .header_title {
    margin-left: -29px;
    width: rem(94) !important;
    font-size: 19px;
    height: rem(25);
    
  }
  .logo {
    margin-left: rem(-26);
  }
}
