@import "../../styles/global.scss";
.btn-primary {
  border-radius: 90px !important;
}
.btn-light {
  border: 1px solid #e6e8ec !important;
  border-radius: 90px !important;
  background-color: #fff !important;
}
