@import "../style/helper";
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@function toRem($value) {
  $remValue: ($value / 16) + rem;
  @return $remValue;
}
@mixin btns($wdth, $hght, $brdr, $brdr-rds, $bckgr, $clr) {
  width: $wdth;
  height: $hght;
  border: $brdr;
  border-radius: $brdr-rds;
  background-color: $bckgr;
  color: $clr;
}
@mixin text($wdth, $hght, $fw, $fs, $lg, $clr) {
  width: $wdth;
  height: $hght;
  font-weight: $fw;
  font-size: $fs;
  line-height: $lg;
  color: $clr;
}
@mixin center {
  align-items: center;
  text-align: center;
  justify-content: center;
  justify-items: center;
}
$colorYellow: #ffb742;
$colorWhite: #ffffff;
$colorGray: #7b7b7b;
$colorLightGray: #d4d4d4;
$colorDarkBlue: #212529;
// backdrop-filter: blur(4px);
body {
  background-color: $colorDarkBlue !important;
  color: #fff !important;
  height: 500vh;
  font-family: "Inter", sans-serif !important;
  position: relative;
}
