@import "../style/helper";
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@function toRem($value) {
  $remValue: ($value / 16) + rem;
  @return $remValue;
}
body {
  background-color: #212529 !important;
  color: #fff !important;
  height: 500vh;
  font-family: "Inter", sans-serif !important;
}
