* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
}
@function toRem($value) {
  $remValue: ($value / 16) + rem;
  @return $remValue;
}
// @function percent($target) {
//   @return percent($target / 32);
// }

// @function perc($value) {
//   $total: ($value / 0 ) + percentage($number: 34.2);
//   @return $total;
// }
