@import "../../style/global.scss";
.skills_row {
  margin-top: toRem(100);
  .col-xl-3:hover {
    transform: scale(1.1);
    transition: 0.5s;
  }
  .line {
    margin: toRem(90) auto;
  }
}
.skills_txt {
  @include text(toRem(518), toRem(111), 700, toRem(46), toRem(56), $colorWhite);
}
.skills_parag {
  @include text(toRem(556), toRem(60), 400, 1rem, toRem(30), $colorWhite);
}
.skills_btn {
  width: 7.5rem !important;
}
.skills_position {
  justify-content: space-between;
}
.skills_row img {
  width: toRem(80);
  height: toRem(80);
  object-fit: contain;
}
.skills_background {
  width: toRem(100) !important;
  height: toRem(100) !important;
  background: #383e45;
  border-radius: 10px;
  display: flex;
  @include center;
}
.skilss_top {
  margin-top: 2rem;
}
@media screen and(max-width:500px) {
  .skills_txt {
    width: 100%;
    font-size: 2rem;
    text-align: center;
  }
  .skills_parag {
    width: 89%;
    text-align: center;
    margin: auto;
    height: toRem(124);
  }
  .skills_background {
    width: 80px !important;
  }
  .skills_row img {
    width: toRem(50);
    height: toRem(50);
    object-fit: contain;
  }
  #row_of_skills {
    padding: 1.2rem !important;
  }
  .skills_btn {
    display: none;
  }
}
